	

#cv {
		/*background: #f0f0f0;*/
		margin: 0;
		padding: 0;
		
		font-family: 'Open Sans', 'Helvetica Light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, serif;
		font-weight: 300;
		line-height: 22px;
		font-size: 14px;

		color: #000;
	}

#cv {
	margin: 0 auto;
    max-width: 85%;
    padding: 40px 50px;
}


	#cv h1, #cv h2, #cv h3, #cv h4 {
		font-family: 'Open Sans', 'Helvetica Light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, serif;
		font-weight: 300;
		font-weight: normal;
		margin: 0 0 15px 0;
		padding: 0;
	}
	/*#cv h1 {
		font-size: 350%;
	}
	#cv h2 {
		font-size: 210%;
	}
	#cv h3 {
		font-size: 130%;
	}*/
	
	#cv p {
		margin: 0 0 10px 0;
	}
	
	#cv ul {
		margin: 0;
		list-style-type: square;
	}
	#cv a {
		color: #222;
	}
	/* ________________________________________________________ */
	#cv .rtl {
		direction: rtl;
	}
	#cv .clear {
		clear: both;
	}

	#cv #main {
		background: #fff;
		width: 900px;
		padding: 35px;
		margin: 0 auto 15px auto;
		overflow: hidden;
		
		box-shadow: 0 0 6px #ccc;
	}
	
	#cv #title {
		line-height: 42px;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
		margin: 0px 0 20px 0;
	}
	
	#cv #credit {
		margin-bottom: 20px;
		font-size: 11px;
		color: #999;
		text-align: center;
	}
	#cv	#credit a {
			color: #999;
		}
	
	#cv p label {
		font-size: 110%;
		margin-right: 10px;
	}
		#cv p label span.colon {
			display: inline;
		}

	
	#cv .section {
		margin-bottom: 25px;
	}
	#cv .section .set {
	}
	#cv .item {
		margin: 0 0 20px 0;
	}

	/*  _____________________________ */
	#cv .section .title {
		text-transform: uppercase;
		/*font-size: 160%;*/
		margin: 0 auto 15px auto;
		display: block;
	}
		#cv .section .set {
			margin-left: 25px;
		}
		#cv .section .set h3 {
			margin: 0;
		}



	#cv .basic-info {
		border-top: 0;
	}
	#cv .section.basic-info .title {
		float: left;
		border: 0;
	}
	#cv .basic-info .set {
		float: right;
		width: 70%;
	}
	#cv .basic-info .address {
		width: 40%;
		float: left;
	}
	#cv .basic-info .r {
		float: right;
		width: 60%;
		text-align: right;
	}
		#cv .basic-info label {
			font-family: 'Open Sans', 'Helvetica Light', 'Helvetica Neue', 'Arial Narrow', Helvetica, Arial, serif;
			font-weight: 300;
		}
		#cv .basic-info label, .basic-info span  {
			display: inline !important;
		}
	#cv .basic-info p {
		margin: 0;
	}
	
	#cv .section span {
		display: block;
	}
	#cv .section h3 span.l, .section span.r {
		width: 49%;
		float: left;
	}
		#cv .section span.r {
			float: right;
			text-align: right;
		}
		#cv .section-education .school,
		#cv .section-work .job_title {
			font-size: 100%;
			display: block;
			margin: 5px 0 5px 0;
		}

	#cv #photo {
		width: 160px;
		height: 200px;
		overflow: hidden;
		float: left;
		margin-top: 4px;
		border-radius: 4px;
	}
	#cv #photo img {
		width: 100%;
		height: auto;
	}
	#cv .header.photo {
		margin-left: 190px;
	}
	#cv .header.photo #title {
		text-align: left;
	}
	#cv .header.photo .basic-info {
		float: none;
		padding: 0;
	}


	@media screen and (max-width: 950px) {
		#cv body {
			background: #fff;
		}
		#cv #main {
			box-shadow: none;
			padding: 0;
			padding: 5px;
		}
	}