#about-text  a:link, a:visited {
  color: #C74451;
  padding: 0 1px;
  text-decoration: none;
}

#about-text  a:hover, a:active {
  border-radius: 3px 3px 3px 3px;
  background-color: #C74451;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}